.vs
ChessBoard.sln
Debug/*
ChessBoard/Debug/*
ChessBoard/ChessBoard.vcxproj
ChessBoard/ChessBoard.vcxproj.filters
ChessBoard/ChessBoard.vcxproj.user
ChessBoard/Debug UnitTests/*
Debug UnitTests/*
ChessBoard/*.o
ChessBoard/chess
